<html>

<head>
    <title>Halaman Profile</title>
    <link rel="stylesheet" href="/css/css/bootstrap.css">
    <link rel="stylesheet" href="/css/user.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                    <div class="logo">
                        <img src="/fosanlogo.png" height="120px">
                    </div>
                    <h1 class="text" style="color: black;"><%= data[0].User.name%>'s Dashboard</h1>
                    <a href="/todo/" style="color: black;"><button class="tombolheader"><i class="fa fa-backward fa-2x"
                                aria-hidden="true"></i><br>
                            Kembali</button></a>
                    <a href="/users/logout/" style="color: black;"><button class="tombolheader"><i
                                class="fa fa-power-off fa-2x" aria-hidden="true"></i><br>
                            Log Out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tablespace">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center; width: 600px;">Kegiatan</th>
                                <th style="text-align: center; width: 100px;">Status</th>
                                <th style="text-align: center; width: 200px;">Opsi </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let i=0; i < data.length; i++) {%>
                            <tr>
                                <td><%= data[i].kegiatan%></td>
                                <td><%= data[i].status == 0? 'Belum' : 'Sudah'%></td>
                                <td><a href="/todo/update/<%= data[i].id%>"><button type="button"
                                            class="btn btn-primary"><i class="fa fa-pencil-square-o fa-lg"
                                                aria-hidden="true"></i>
                                        </button></a>
                                    <a href="/todo/delete/<%= data[i].id%>"><button type="button"
                                            class="btn btn-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                                        </button></a></td>
                            </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script src="js/bootstrap.js"></script>

</html>